/bootstrap/compiled.php
/config/database.php
/html/photos
/html/js/global-config.js
/node_modules
/planning
/public/hot
/public/photos
/public/css/app.css
/public/css/dark.css
/public/css/light.css
/vendor
.env.local.php
.env.php
.env
.htaccess
/.vagrant
composer.phar
composer.lock
Homestead.yaml
Homestead.json
php-latest