/bootstrap/compiled.php
/html/photos
/html/js/global-config.js
/node_modules
/planning
/public/hot
/public/photos
/public/photos-backup
/public/storage
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/css/app.css
/public/css/dark.css
/public/css/light.css
/public/css/tailwind.css
/public/backup
/public/google*.html
/vendor
.env.local.php
.env.php
.env.testing
.env
.htaccess
.phpunit.result.cache
/.vagrant
composer.phar
Homestead.yaml
Homestead.json
php-latest
workspace.code-workspace
.vscode
phpstan.neon
/public/sitemap*.xml
*.code-workspace