/bootstrap/compiled.php
/config/database.php
/html/photos
/html/js/global-config.js
/node_modules
/planning
/vendor
.env.local.php
.env.php
.env
.htaccess
composer.phar
composer.lock
Homestead.yaml
Homestead.json