parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$created_by\\.$#"
			count: 1
			path: app/Http/Controllers/Api/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$visibility\\.$#"
			count: 1
			path: app/Http/Controllers/Api/EventsController.php

		-
			message: "#^PHPDoc type array of property App\\\\Models\\\\User\\:\\:\\$hidden is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$hidden\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Relation 'object' is not found in App\\\\Models\\\\User model\\.$#"
			count: 1
			path: app/Models/User.php
