parameters:
  reportUnmatchedIgnoredErrors: false
  level: 4
  paths:
      - app

  ignoreErrors:
      - '#Unsafe usage of new static#'

  checkMissingIterableValueType: false

includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - phpstan-baseline.neon