parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$created_by\\.$#"
			count: 2
			path: app/Http/Controllers/Api/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$end_time\\.$#"
			count: 2
			path: app/Http/Controllers/Api/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 4
			path: app/Http/Controllers/Api/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 2
			path: app/Http/Controllers/Api/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$short\\.$#"
			count: 2
			path: app/Http/Controllers/Api/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$start_at\\.$#"
			count: 2
			path: app/Http/Controllers/Api/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$visibility\\.$#"
			count: 2
			path: app/Http/Controllers/Api/EventsController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:active\\(\\)\\.$#"
			count: 2
			path: app/Http/Controllers/Api/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$created_by\\.$#"
			count: 1
			path: app/Http/Controllers/Api/TagsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$visibility\\.$#"
			count: 1
			path: app/Http/Controllers/Api/TagsController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:active\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Api/TagsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$created_by\\.$#"
			count: 3
			path: app/Http/Controllers/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$end_time\\.$#"
			count: 3
			path: app/Http/Controllers/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 6
			path: app/Http/Controllers/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 3
			path: app/Http/Controllers/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$short\\.$#"
			count: 3
			path: app/Http/Controllers/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$start_at\\.$#"
			count: 3
			path: app/Http/Controllers/EventsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$visibility\\.$#"
			count: 3
			path: app/Http/Controllers/EventsController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:active\\(\\)\\.$#"
			count: 3
			path: app/Http/Controllers/EventsController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:future\\(\\)\\.$#"
			count: 2
			path: app/Http/Controllers/EventsController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:past\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/EventsController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:visible\\(\\)\\.$#"
			count: 2
			path: app/Http/Controllers/PagesController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\SocialAuthFacebookController\\:\\:redirect\\(\\) should return Illuminate\\\\Http\\\\RedirectResponse but returns Symfony\\\\Component\\\\HttpFoundation\\\\RedirectResponse\\.$#"
			count: 1
			path: app/Http/Controllers/SocialAuthFacebookController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$created_by\\.$#"
			count: 2
			path: app/Http/Controllers/TagsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$visibility\\.$#"
			count: 2
			path: app/Http/Controllers/TagsController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:active\\(\\)\\.$#"
			count: 2
			path: app/Http/Controllers/TagsController.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Kernel\\:\\:\\$middleware is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Kernel\\:\\:\\$middleware\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Kernel\\:\\:\\$middlewareGroups is not covariant with PHPDoc type array\\<string, array\\<int, string\\>\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Kernel\\:\\:\\$middlewareGroups\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Kernel\\:\\:\\$routeMiddleware is not covariant with PHPDoc type array\\<string, string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Kernel\\:\\:\\$routeMiddleware\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\EncryptCookies\\:\\:\\$except is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Cookie\\\\Middleware\\\\EncryptCookies\\:\\:\\$except\\.$#"
			count: 1
			path: app/Http/Middleware/EncryptCookies.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\VerifyCsrfToken\\:\\:\\$except is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Middleware\\\\VerifyCsrfToken\\:\\:\\$except\\.$#"
			count: 1
			path: app/Http/Middleware/VerifyCsrfToken.php

		-
			message: "#^PHPDoc type array of property App\\\\Models\\\\User\\:\\:\\$hidden is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$hidden\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Relation 'object' is not found in App\\\\Models\\\\User model\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^PHPDoc type array of property App\\\\Providers\\\\EventServiceProvider\\:\\:\\$listen is not covariant with PHPDoc type array\\<string, array\\<int, string\\>\\> of overridden property Illuminate\\\\Foundation\\\\Support\\\\Providers\\\\EventServiceProvider\\:\\:\\$listen\\.$#"
			count: 1
			path: app/Providers/EventServiceProvider.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:future\\(\\)\\.$#"
			count: 1
			path: app/Services/RssFeed.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$body\\.$#"
			count: 1
			path: tests/Feature/CreateThreadsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 1
			path: tests/Feature/CreateThreadsTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:path\\(\\)\\.$#"
			count: 1
			path: tests/Feature/CreateThreadsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Feature/EntitiesTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 3
			path: tests/Feature/EntitiesTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$slug\\.$#"
			count: 2
			path: tests/Feature/EntitiesTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$user\\.$#"
			count: 1
			path: tests/Feature/EntitiesTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$follows\\.$#"
			count: 1
			path: tests/Feature/FollowsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Feature/FollowsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 2
			path: tests/Feature/ImpersonateUsersTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:assignGroup\\(\\)\\.$#"
			count: 1
			path: tests/Feature/ImpersonateUsersTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 2
			path: tests/Feature/LikesTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$likes\\.$#"
			count: 4
			path: tests/Feature/LikesTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$body\\.$#"
			count: 1
			path: tests/Feature/ParticipateInForumTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Feature/ParticipateInForumTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:path\\(\\)\\.$#"
			count: 1
			path: tests/Feature/ParticipateInForumTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$created_at\\.$#"
			count: 1
			path: tests/Feature/PostsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$user\\.$#"
			count: 1
			path: tests/Feature/PostsTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:wasJustPublished\\(\\)\\.$#"
			count: 2
			path: tests/Feature/PostsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$first_name\\.$#"
			count: 1
			path: tests/Feature/ProfilesTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Feature/ProfilesTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$body\\.$#"
			count: 1
			path: tests/Feature/ThreadsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$creator\\.$#"
			count: 1
			path: tests/Feature/ThreadsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 4
			path: tests/Feature/ThreadsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 5
			path: tests/Feature/ThreadsTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:path\\(\\)\\.$#"
			count: 1
			path: tests/Feature/ThreadsTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$created_by\\.$#"
			count: 1
			path: tests/Feature/UsersTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 3
			path: tests/Feature/UsersTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$lastPost\\.$#"
			count: 1
			path: tests/Feature/UsersTest.php
