parameters:
  reportUnmatchedIgnoredErrors: false
  level: 5
  paths:
      - app
      - tests

  ignoreErrors:
      - '#Unsafe usage of new static#'
      -
        identifier: missingType.iterableValue

includes:
  - ./vendor/larastan/larastan/extension.neon
  - ./vendor/phpstan/phpstan-mockery/extension.neon
  - phpstan-baseline.neon
