body {
	font-family: Roboto,sans-serif !important;
}

.no-button {
	background: none;
	border: none;
	padding: 5px;
	outline: none;
}

.no-button span:hover {
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.profile-card {
	padding: 10px;
	background-color: var(--bs-dark);
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	min-height: 130px;
}

.mute-card {
	padding: 10px;
	background-color: #223;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	min-height: 130px;
}

.event-card {
	padding: 10px;
	background-color: #334;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
}

.event-past {
	background-color: #334;
}

.event-future {
	background-color: #223 !important;
}

.series-card {
	padding: 10px;
	background-color: #223;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	min-height: 130px;
}


ul.list-click {
	margin-left: -40px;
}

ul.list-click li {
	list-style-type:none;
	font-size: 1.3em;
}

.label-tag {
 	background-color: #000000;
	margin: .2em;
}

.label-related{
	background-color: #ffffff;
	margin: .2em;
}

.card-thumb {
	border-radius: 5px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.small-gutter > [class*='col-'] {
    padding-right:10px;
    padding-left:10px;
}

li.selected {
    color: #ffffff;
    background-color: #df691a;
    border-color: #df691a;
    padding: 5px;
    padding-left:10px;
}

li.selected a {
	color: #fff;
	font-weight: bold;
}

li.selected:hover {
    color: #ffffff;
    background-color: #b15315;
    border-color: #b15315;
}

.item-title {
	font-weight: 600;
}


.slim-row {
	height: 10 px;
	padding: 2px;
}

.post-body {
	padding: 10px;
	padding-bottom: 50px;
}

#event-repo .forum .forum-link {
	color: #df691a;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	padding: 8px 0px;
}

#event-repo .forum .forum-link:hover {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	padding: 8px 0px;
}

#event-repo .forum .label-link {
	color: #df691a;
	text-decoration: none;
}

#event-repo .forum .label-link:hover {
	color: #fff;
	text-decoration: none;
}

#event-repo .forum th {
	font-size: 15px;
	background-color: #5bc0de;
}

#event-repo .deletesmall {
	font-size: 15px;
	background-color: #5bc0de;
}

/** Add styles to fullcalendar **/

#event-repo .fc-head .fc-day-header {
    color: #fff;
    background-color: #df691a;
}

#event-repo .fc-body .fc-day {
	background-color: #1d2a36;
}

#event-repo img.avatar {
	max-width: 32px;
}

#event-repo .fc-unthemed .fc-body .fc-bg .fc-today {
  background-color: #ecab7e;
}

#event-repo th.fc-day {
	background-color: #df691a;
  }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.icon-correct {
	top: 3px;
	position: relative;
}

.hover-dim span:hover {
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#event-repo h2, .h2 {
    font-size: 32px;
    font-weight: 800;
    font-variant-caps: normal;
    color: #5bc0de;
}

#event-repo h4, .h4 {
    font-size: 18px;
    font-weight: 800;
    color: #5bc0de;
}

#event-repo h3.listing {
	font-size: 28px;
	font-weight: 600;
	font-variant-caps: normal;
	color: chocolate;
}

#event-repo h4.listing {
	font-size: 18px;
	font-weight: 400;
	color: chocolate;
	margin-top: -10px;
}

#event-repo .listing {
	max-width: 100%
}

#event-repo .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #1b2e40;
}

#event-repo .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000;
}

#event-repo table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td {
    border-color: #000;
}

.panel-title {
    color: #0b406e;
    font-weight: 600;
}


li.select2-results__option {
	color: #989898;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d9534f;
}

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #d9534f !important;
  }

/* sets the default link style   */
a {
    color: #df691a;
    text-decoration: none;
}

/* removes the underline for links and sets the color to a lighter color */
a:focus, a:hover, a:active {
    color: #ef991a;
    text-decoration: none;
}

/* dark color for tags - change to specific? */
span.bg-dark {
    background-color: #000000 !important;
}

#filter-list {
	background-color: #ec945a; 
}

.form-background, .form-background:active, .form-background:hover, .form-background:focus {
	background-color: var(--bs-secondary);
	color:  rgba(255, 255, 255, 0.5) !important;
}

/* select2 dark styles */
.select2 { 
	color:  rgba(255, 255, 255, 0.5) !important;
}
.selection span.select2-selection { 
	background-color: var(--bs-secondary) !important;
	color:  rgba(255, 255, 255, 0.5) !important;
}
.selection span.select2-selection__rendered { 
	background-color: var(--bs-secondary) !important;
	color:  rgba(255, 255, 255, 0.5) !important;
}
.select2-container input.select2-search {
	background-color: var(--bs-secondary) !important;
	color:  rgba(255, 255, 255, 0.5) !important;
}
.select2-container span.select2-dropdown { 
	background-color: var(--bs-secondary) !important;
	color:  rgba(255, 255, 255, 0.5) !important;
}
.select2-search { 
	background-color: var(--bs-secondary) !important;
	color:  rgba(255, 255, 255, 0.5) !important;
}
.select2-choice { 
	background-color: var(--bs-secondary) !important; 
	color:  rgba(255, 255, 255, 0.5) !important;
}
.selection li.select2-selection__choice { 
	color:  var(--bs-secondary);
}

.select2-container .select2-selection {
	border-radius: 4px;
}

.dropzone {
	background-color: var(--bs-secondary);
	color:  rgba(255, 255, 255, 0.5) !important;
}

/* Change Autocomplete styles in Chrome*/
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}

/* icon color and hover color */
.icon {
	color: var(--bs-warning);
}

.icon:hover {
	filter: brightness(120%);
}

.table > :not(:last-child) > :last-child > * {
	border-bottom-color: var(--bs-dark);
}

.navbar-background {
	background-color: var(--bs-dark);
	color:  rgba(255, 255, 255, 0.5) !important;
}

.navbar .navbar-brand {
	font-size: 1.8rem !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

a.fc-col-header-cell-cushion {
	color: var(--bs-info);
}

.dropzone .dz-message .dz-button {
    background: none;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
}

@media screen and ( max-width: 576px ){

    li.page-item {

        display: none;
    }

    .page-item:first-child,
	.page-item:nth-child( 2 ),
    .page-item:nth-last-child( 2 ),
    .page-item:nth-child( 3 ),
    .page-item:nth-last-child( 3 ),
	.page-item:nth-child( 4 ),
    .page-item:nth-last-child( 4 ),
	.page-item:nth-child( 5 ),
    .page-item:nth-last-child( 5 ),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {

        display: block;
    }
}