/* Vars that were missing, adding here - split up? */
:root {
	--bs-list-group-color: var(--bs-primary-rgb);
	--bs-list-group-item-padding-y: .5rem;
	--bs-list-group-item-padding-x: .5rem;
	--bs-list-group-border-width: .5rem;
	--bs-list-group-bg:  rgba(55,80,100,1);
}

.geoff {
	background-color: #666666;
}

.list-group-item-compact {
    background-color:  rgba(55,80,100,1) !important;
    border: 1rem solid 1rem;
    color: #ffffff;
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
}

.primary-gradient {
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%) !important;
}

.secondary-gradient {
	background: linear-gradient(to right,#ff8a00 0,#da1b60 100%);
}

.site-title a {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.site-title a:hover {
	color: #cccccc;
}

.profile-card {
	padding: 10px;
	background-color: var(--bs-dark);
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	min-height: 130px;
}

.mute-card {
	padding: 10px;
	background-color: #222233;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	min-height: 130px;
}

.event-card {
	padding: 10px;
    background-color: rgba(55,80,100,1) !important;
	/* margin-bottom: 15px; */
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
}

.series-card {
	padding: 10px;
    background-color: rgba(55,80,100,1) !important;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	min-height: 130px;
}

/* Surface is the "first layer" that other info sits on or in on top of the background*/
.surface-container {
	background-color: rgba(32,55,76,1) !important;
	/* --bs-bg-opacity: 1; background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; */
}

.surface {
	background-color: rgba(32,55,76,1) !important;
	/* --bs-bg-opacity: 1; background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; */
}

.label-tag {
 	background-color: #000000;
	margin: .2em;
}

.label-related{
	background-color: #ffffff;
	margin: .2em;
}

.card-actions:hover {
    color: #31b0d5;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d9534f;
}

li.selected {
    color: #ffffff;
    background-color: #df691a;
    border-color: #df691a;
    padding: 5px;
    padding-left:10px;
}

li.selected a {
	color: #fff;
	font-weight: bold;
}

li.selected:hover {
    color: #ffffff;
    background-color: #b15315;
    border-color: #b15315;
}


#event-repo .forum .forum-link {
	color: #df691a;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	padding: 8px 0px;
}

#event-repo .forum .forum-link:hover {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	padding: 8px 0px;
}

#event-repo .forum .label-link {
	color: #df691a;
	text-decoration: none;
}

#event-repo .forum .label-link:hover {
	color: #fff;
	text-decoration: none;
}

#event-repo .forum th {
	font-size: 15px;
	background-color: #5bc0de;
}

#event-repo .deletesmall {
	font-size: 15px;
	background-color: #5bc0de;
}

/** Add styles to fullcalendar **/

#event-repo .fc-head .fc-day-header {
    color: #fff;
    background-color: #df691a;
}

#event-repo .fc-body .fc-day {
	background-color: #1d2a36;
}

#event-repo .fc-unthemed .fc-body .fc-bg .fc-today {
  background-color: #ecab7e;
}

#event-repo th.fc-day {
	background-color: #df691a;
  }


#event-repo h2, .h2 {
    font-size: 32px;
    font-weight: 800;
    font-variant-caps: normal;
    color: #5bc0de;
}

#event-repo h4, .h4 {
    font-size: 18px;
    font-weight: 800;
    color: #5bc0de;
}

#event-repo h3.listing {
	font-size: 28px;
	font-weight: 600;
	font-variant-caps: normal;
    color: #5bc0de;
}

#event-repo h4.listing {
	font-size: 18px;
	font-weight: 400;
    color: #5bc0de;
	margin-top: -10px;
}

#event-repo .listing {
	max-width: 100%
}

#event-repo .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #1b2e40;
}

#event-repo .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000;
}

#event-repo table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td {
    border-color: #000;
}

.panel-title {
    color: #0b406e;
    font-weight: 600;
}

li.select2-results__option {
	color: #989898;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d9534f;
}

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #d9534f !important;
  }

/* sets the default link style   */
a {
    /* color: #df691a; // orange */
	color: #5bc0de; /* blue */
    text-decoration: none;
}

/* removes the underline for links and sets the color to a lighter color */
a:focus, a:hover, a:active {
    color: #ef991a;
    text-decoration: none;
}

/* dark color for tags - change to specific? */
span.bg-dark {
    background-color: #000000 !important;
}

#filter-list {
	background-color: #ec945a; 
}

.form-background, .form-background:active, .form-background:hover, .form-background:focus {
	background-color: var(--bs-secondary);
	color:  rgba(255, 255, 255, 0.5) !important;
}

/* select2 dark styles */
.select2 { 
	color:  rgba(255, 255, 255, 0.5) !important;
}
.selection span.select2-selection { 
	background-color: var(--bs-secondary) !important;
	color:  rgba(255, 255, 255, 0.5) !important;
}
.selection span.select2-selection__rendered { 
	background-color: var(--bs-secondary) !important;
	color:  rgba(255, 255, 255, 0.5) !important;
}
.select2-container input.select2-search {
	background-color: var(--bs-secondary) !important;
	color:  rgba(255, 255, 255, 0.5) !important;
}
.select2-container span.select2-dropdown { 
	background-color: var(--bs-secondary) !important;
	color:  rgba(255, 255, 255, 0.5) !important;
}
.select2-search { 
	background-color: var(--bs-secondary) !important;
	color:  rgba(255, 255, 255, 0.5) !important;
}
.select2-choice { 
	background-color: var(--bs-secondary) !important; 
	color:  rgba(255, 255, 255, 0.5) !important;
}
.selection li.select2-selection__choice { 
	color:  var(--bs-secondary);
}

.select2-container .select2-selection {
	border-radius: 4px;
}

.dropzone {
	background-color: var(--bs-secondary);
	color:  rgba(255, 255, 255, 0.5) !important;
}

/* Change Autocomplete styles in Chrome*/
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}

/* icon color and hover color */
.icon {
	color: var(--bs-warning);
}

.icon:hover {
	filter: brightness(120%);
}

.table > :not(:last-child) > :last-child > * {
	border-bottom-color: var(--bs-dark);
}

.table>:not(:first-child) {
	border-color: var(--bs-dark);
}

.navbar-background {
	background-color: var(--bs-dark);
	color:  rgba(255, 255, 255, 0.5) !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

a.fc-col-header-cell-cushion {
	color: var(--bs-info);
}

.dropzone .dz-message .dz-button {
    background: none;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #5bc0de;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.table th a {
	color: #eeeeee;
}

.table th a:focus, .table th a:hover, table th a:active {
	color: #dddddd;
}

.dark #jumbotron {
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.item-title {
    color: #7be0ee !important;
}


.item-title:hover {
    color: #5bc0dc !important;
}

h5 {
	font-size: 1rem;
}