.primary-gradient {
	background-color: #F4D03F; background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}

.secondary-gradient {
	background: linear-gradient(to right,#F4D03F 0%, #16A085 100%);
}

.site-title a {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to right, #F4D03F 0%, #16A085 100%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.site-title a:hover {
    color: #185a50;
    background: linear-gradient(to right, #F4D03F 0%, #16A085 100%);
}

.profile-card {
	padding: 10px;
	background-color: var(--bs-light);
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

.mute-card {
	padding: 10px;
	background-color: #c6edf7;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

.event-card {
	padding: 10px;
	background-color: var(--bs-gray-100) !important;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

.series-card {
	padding: 10px;
	background-color: var(--bs-gray-100) !important;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

/* Surface is the "first layer" that other info sits on or in on top of the background*/
.surface-container {
	background-color: var(--bs-light) !important;
	/* --bs-bg-opacity: 1; background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; */
}

.surface {
	background-color: var(--bs-light) !important;
	/* --bs-bg-opacity: 1; background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; */
}

.label-tag {
 	background-color: #dddddd;
	margin: .2em;
}

.label-related{
	background-color: #ffffff;
	margin: .2em;
}

li.selected {
    color: #ffffff;
    background-color: #df691a;
    border-color: #df691a;
    padding: 5px;
    padding-left:10px;
}

li.selected a {
	color: #fff;
	font-weight: bold;
}

li.selected:hover {
    color: #ffffff;
    background-color: #b15315;
    border-color: #b15315;
}

#event-repo .forum .forum-link {
	color: #df691a;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	padding: 8px 0px;
}

#event-repo .forum .forum-link:hover {
	color: #ffa200;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	padding: 8px 0px;
}

#event-repo .forum .label-link {
	color: #df691a;
	text-decoration: none;
}

#event-repo .forum .label-link:hover {
	color: #fff;
	text-decoration: none;
}

#event-repo .forum th {
	font-size: 15px;
	background-color: #18bc9c;
}

#event-repo .deletesmall {
	font-size: 15px;
	background-color: #5bc0de;
}

/** Add styles to fullcalendar **/

#event-repo .fc-head .fc-day-header {
    color: #fff !important;
    background-color: #df691a !important;
}

#event-repo .fc-body .fc-day {
	background-color: #fc0;
}

#event-repo .fc-unthemed .fc-body .fc-bg .fc-today {
  background-color: #ecab7e;
}

#filter-list {
	background-color: #7ABDE1; 
	position: relative; 
	right: -15px;
	padding: 5px;
}

.navbar-background {
    background-color: var(--bs-light);
    color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color:  rgba(0, 0, 0, 0.75) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color:  rgba(0, 0, 0, 0.5) !important;
}

h5.card-header, .card-header h5 {
	color: #fff !important;
}

th.fc-day {
	background-color: var(--bs-primary) !important;
}

.light .bg-dark {
	background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

/* https://www.grabient.com/ */
.light .jumbotron {
	background-color: #F4D03F;
	background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}

.item-title {
    color: #08aa9c !important;
}