body {
	background: #FEFFF1;
	font-family: Roboto,sans-serif !important;
}

.no-button {
	background: none;
	border: none;
	padding: 5px;
	outline: none;
}

.no-button span:hover {
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.profile-card {
	padding: 10px;
	background-color: #a6ede7;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

.mute-card {
	padding: 10px;
	background-color: #c6edf7;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

.event-card {
	padding: 10px;
	background-color: #b9edf7 !important; /*light blue*/
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

.event-past {
	background-color: #b9edf7;
}

.event-future {
	background-color: #97edf7;
}

.series-card {
	padding: 10px;
	background-color: #c9edf7; /*light blue*/
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}
.event-date {
	font-weight: 900;
	font-size: 1.5rem;
}

.event-list, .list {
	list-style-type:none;
	margin:.5em;
	padding-left: 0px;
}

ul.list-click {
	margin-left: -40px;
}

ul.list-click li {
	list-style-type:none;
	font-size: 1.3em;
}

.label-tag {
 	background-color: #dddddd;
	margin: .2em;
}

.label-related{
	background-color: #ffffff;
	margin: .2em;
}

.card-thumb {
	border-radius: 5px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.small-gutter > [class*='col-'] {
    padding-right:10px;
    padding-left:10px;
}

li.selected {
    color: #ffffff;
    background-color: #df691a;
    border-color: #df691a;
    padding: 5px;
    padding-left:10px;
}

li.selected a {
	color: #fff;
	font-weight: bold;
}

li.selected:hover {
    color: #ffffff;
    background-color: #b15315;
    border-color: #b15315;
}

.item-title {
	font-weight: 600;
}


.slim-row {
	height: 10 px;
	padding: 2px;
}

.post-body {
	padding: 10px;
	padding-bottom: 50px;
}

#event-repo .forum .forum-link {
	color: #df691a;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	padding: 8px 0px;
}

#event-repo .forum .forum-link:hover {
	color: #ffa200;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	padding: 8px 0px;
}

#event-repo .forum .label-link {
	color: #df691a;
	text-decoration: none;
}

#event-repo .forum .label-link:hover {
	color: #fff;
	text-decoration: none;
}

#event-repo .forum th {
	font-size: 15px;
	background-color: #5bc0de;
}

#event-repo .deletesmall {
	font-size: 15px;
	background-color: #5bc0de;
}

/** Add styles to fullcalendar **/

#event-repo .fc-head .fc-day-header {
    color: #fff !important;
    background-color: #df691a !important;
}

#event-repo .fc-body .fc-day {
	background-color: #fc0;
}

#event-repo img.avatar {
	max-width: 32px;
}

#event-repo .fc-unthemed .fc-body .fc-bg .fc-today {
  background-color: #ecab7e;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.icon-correct {
	top: 3px;
	position: relative;
}

.hover-dim span:hover {
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#event-repo .navbar-default .navbar-nav > li > a:hover {
	background-color: #e7e7e7;
}


#event-repo h2, .h2 {
    font-size: 32px;
    font-weight: 600;
    font-variant-caps: normal;
    color: initial;
}

#filter-list {
	background-color: #7ABDE1; 
	position: relative; 
	right: -15px;
	padding: 5px;
}

.navbar .navbar-brand {
    color: #FFF;
	font-size: 1.8rem !important;
}

.navbar-background {
    background-color: var(--bs-light);
    color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color:  rgba(0, 0, 0, 0.75) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color:  rgba(0, 0, 0, 0.5) !important;
}

#event-repo a {
	text-decoration: none !important;
}

h5.card-header, .card-header h5 {
	color: #fff !important;
}

th.fc-day {
	background-color: var(--bs-primary) !important;
}


@media screen and ( max-width: 576px ){

    li.page-item {

        display: none;
    }

    .page-item:first-child,
	.page-item:nth-child( 2 ),
    .page-item:nth-last-child( 2 ),
    .page-item:nth-child( 3 ),
    .page-item:nth-last-child( 3 ),
	.page-item:nth-child( 4 ),
    .page-item:nth-last-child( 4 ),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {

        display: block;
    }
}