body {
    background-color: #000;
    color: #ddd;
}
a {
    color: #09F;
}
a:focus,
a:hover {
    color: #33adff;
}
.sidebar {
    background-color: #333;
    border-right: 1px solid #000;
}
.sidebar .droppable-area {
    background: #555;
}
.sidebar .droppable-area span {
    color: #333;
}
.sidenav-header {
    color: #999;
}
.navbar-default .navbar-nav > li > a {
    color: #999;
}
.navbar-sidebar .navbar-nav > li > a:hover,
.navbar-sidebar .navbar-nav > li > a:focus {
    color: #09F;
}
.navbar-sidebar .navbar-nav > .open > a,
.navbar-sidebar .navbar-nav > .open > a:hover,
.navbar-sidebar .navbar-nav > .open > a:focus {
    background-color: #000;
}
.nav-stacked > li > a {
    color: #ddd;
}
.nav-stacked > li > a:hover,
.nav-stacked > li > a:focus {
    color: #09F;
}
.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #222;
}
.top-bar {
    background-color: #333;
}
.hdiv-b {
    border-bottom: 1px solid #000;
}
.hdiv-t {
    border-top: 1px solid #000;
}
.vdiv-r {
    border-right: 1px solid #000;
}
.demph-bg {
    background-color: #333;
}
.badge {
    background-color: #555;
}
.badge-light {
    color: #ddd;
}
.btn-default {
    color: #ddd;
    background-color: #444;
    border-color: #555;
}
.btn-default:hover,
.btn-default:focus {
    background-color: #555;
    border-color: #666;
    color: #fff;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #333;
    border-color: #444;
    color: #bbb;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default.focus:active,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    background-color: #333;
    border-color: #444;
    color: #bbb;
}
label {
    color: #ddd;
}
.help-block {
    color: #bbb;
}
.form-control {
    background-color: #444;
    border: 1px solid #555;
    color: #ddd;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #111;
}
.page-title {
    color: #ddd;
}
.pagination > li > a,
.pagination > li > span {
    background-color: #444;
    border-color: #555;
}
.pagination > li > a,
.pagination > li > span {
    color: #09F;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background-color: #555;
    color: #33adff;
    border-color: #666;
}
.list-item {
    background-color: #222;
}
.list-item:hover {
    background-color: #333;
}
.list-item-active,
.list-item-active:hover {
    background-color: #27394b;
}
.table > tbody + tbody {
    border-top: none;
}
.table {
    color: #ddd;
}
.table .table {
    background-color: transparent;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-bottom: 1px solid #000;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
    color: #ddd;
    background-color: #333;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #282828;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #202020;
}
.table-data > thead > tr > th,
.table-data > tbody > tr > th,
.table-data > tfoot > tr > th,
.table-data > thead > tr > td,
.table-data > tbody > tr > td,
.table-data > tfoot > tr > td {
    border-right: 1px solid #000;
}
.table-vdiv > thead > tr > th,
.table-vdiv > tbody > tr > th,
.table-vdiv > tfoot > tr > th,
.table-vdiv > thead > tr > td,
.table-vdiv > tbody > tr > td,
.table-vdiv > tfoot > tr > td
{
    border-right: 1px solid #000;
}
.table-calendar .disabled {
    background-color: #111;
}
.table-calendar .disabled:hover {
    background-color: #111;
}
.table-calendar > thead > tr > td,
.table-calendar > tbody > tr > td,
.table-calendar > tfoot > tr > td {
    border-right: 1px solid #000;
}
.table-calendar td:hover {
    background-color: #333;
}
tr.spacer-top.expired td,
.bg-danger
{
    background-color: #642424 !important;
}
tr.spacer-top.invalid td {
    background-color: #642424 !important;
}
tr.spacer-top.inactive td
{
    background-color: #664500 !important;
}
.calendar-events a {
    background-color: #27394b;
    color: #fff;
}
.calendar-events a:hover,
.calendar-events a:focus {
    color: #09f;
}
.calendar-block-current {
    background-color: #642424;
}
.calendar-block-header a {
    color: #999;
}
.calendar-block-header a:hover {
    color: #33adff;
}
.table-calendar .calendar-block-current:hover {
    background-color: #642424;
}
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: #664500;
}
.emph {
    color: #fff;
}
.demph {
    color: #bbb;
}
.demph-half {
    color: #999;
}
.navbar-inverse {
    background-color: #111;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #333;
}
.navbar-inverse .navbar-nav > .menu-panel-toggle.active > a,
.navbar-inverse .navbar-nav > .menu-panel-toggle.active > a:hover,
.navbar-inverse .navbar-nav > .menu-panel-toggle.active > a:focus {
    background-color: #000;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #222;
}
.content-tabs {
    background-color: #222;
}
.content-title {
    color: #ddd;
}
.content-title2 {
    color: #bbb;
}
.section-title {
    background-color: #333;
    border-color: #000;
    color: #ddd;
}
.th-primary {
    background-color: #444;
}
.th-secondary {
    background-color: #333;
}
.spacer-top {
    border-color: #000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover
{
    background-color: #333;
}
.content-tabs > li.active > a,
.content-tabs > li.active > a:hover,
.content-tabs > li.active > a:focus,
.content-tabs > li > a {
    border-right: 1px solid #000;
    color: #09F;
}
.content-tabs > li > a {
    color: #999;
}
.content-tabs > li > a:hover,
.content-tabs > li > a:focus {
    background-color: #333;
    border-color: #000;
    color: #33adff;
}
.content-tabs .open > a,
.content-tabs .open > a:hover,
.content-tabs .open > a:focus {
    background-color: #000;
    border-color: #000;
}
.dropdown-menu {
    background-color: #000;
    border: none;
}
.dropdown-menu > li > a {
    color: #ddd;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #06c;
}
.dropdown-menu .divider {
    background-color: #333;
}
.filters-tabs > li > a {
    color: #bbb;
}
.filters-tabs > li > a:hover,
.filters-tabs > li > a:focus {
    color: #09F;
    background-color: transparent;
}
.filters-tabs > li.active > a,
.filters-tabs > li.active > a:hover,
.filters-tabs > li.active > a:focus {
    border-color: #333;
    background-color: #222;
    color: #09F;
}
.filters-bar {
    border-color: #000;
}
.filters {
    background-color: #222;
}
.bg-demph-primary {
    background-color: #27394b;
}
.bg-demph-secondary {
    background-color: #472D4B;
}
.text-normal {
    color: #ddd;
}
.text-warning {
    color: #fac905;
}
.select2-container .select2-choice {
    background-color: #444;
}
.select2-container .select2-choice .select2-arrow {
    background-color: #444;
    border-left: 1px solid #555;
}
.select2-drop {
    background-color: #000;
    color: #ddd;
    border-color: #555 #66afe9 #66afe9 #66afe9;
}
.select2-search input,
.select2-search input.select2-active {
    background: #444;
    border: 1px solid #555;
}
.select2-container .select2-choice > .select2-chosen {
    color: #ddd;
}
.col-content {
    color: #ddd;
    background-color: #222;
}
.popover {
    background-color: #000;
    border: none;
}
.popover-title {
    background-color: #333;
    border-bottom: 1px solid #000;
}
.popover.right > .arrow::after {
    border-right-color: #000;
}
.popover.top > .arrow::after {
    border-top-color: #000;
}
.popover.left > .arrow::after {
    border-left-color: #000;
}
.popover.bottom > .arrow::after {
    border-bottom-color: #000;
}
.modal-content {
    background-color: #222;
    border: 1px solid #555;
}
.modal-header {
    background-color: #333;
    border-bottom: 1px solid #000;
    border-radius: 6px 6px 0 0;
}
.modal-header .close {
    color: #777;
    opacity: 1;
    text-shadow: none;
}
.modal-header .close:hover,
.modal-header .close:focus {
    color: #09F;
}
.modal-footer {
    border-top: 1px solid #555;
    border-radius: 0 0 6px 6px;
}
#quick-search-content {
    background-color: #000;
}
#quick-search-content .search-header {
    background-color: #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    color: #999;
}
#quick-search-content .search-header a {
    color: #999;
}
#quick-search-content .search-header a:hover {
    color: #bbb;
}
#quick-search-content li {
    background-color: #222;
    border-bottom: 1px solid #000;
}
#quick-search-content .search-result a {
    color: #ddd;
}
.search-result .search-meta {
    color: #bbb;
}
.widget-body {
    background: #333;
}
.panel {
    background-color: #333;
}
.panel-default {
    border-color: #000;
}
.entry h4 {
    color: #09F;
}
.help-article-nav {
    border-bottom: 1px solid #555;
}
.footer {
    background-color: #111;
}
.table > tbody + tbody {
    border-top: none;
}
#navbar-search .btn-default {
    background-color: #444;
    color: #999;
}
#navbar-search .btn-default:hover,
#navbar-search .btn-default:focus {
    background-color: #555;
    color: #bbb;
}
#signature-input canvas,
#signature-image > div {
    background-color: #fff;
    margin-bottom: 10px;
}

/* START: PANEL CUSTOM */
.panel-custom > .panel-heading {
    background-color: #333;
    border-color: #000;
    color: #ddd;
}
.panel-custom > .panel-body {
    background-color: #222;
}
/* END: PANEL CUSTOM */

/* START: Workbook Form */
.wb-form-fieldset {
    border: 1px solid #555;
}
.wb-form-fieldset-toggle {
    color: #bbb;
}
.wba-form-info,
.wba-info-bg {
    background-color: #27394b;
    border-color: #bce8f1;
}
.form-control-table-cell {
    background-color: #222;
}
select.form-control-table-cell option {
    background-color: #444;
}
/* END: Workbook Form */

.emph {
    color: #fff;
}
.demph {
    color: #bbb;
}
.demph-half {
    color: #999;
}

.alert-info,
.bg-info {
    color: #ddd;
    background-color: #2c363e;
}

.highlight-demph {
    color: #fff;
    background-color: #555;
}