/* Custom CSS just for event-repo, bootstrap overrides */
.week-text {
  font-size: smaller;
}

.week-text img {
    max-width: 50px !important;
}

#event-repo .event-card img {
    max-width: 100px;
}

#event-repo .series-card img {
    max-width: 100px;
}

#event-repo img {
    max-width: 100%;
}