body {
	background: #FEFFF1;
	font-family: Roboto,sans-serif !important;
}

.no-button {
	background: none;
	border: none;
	padding: 5px;
	outline: none;
}

.no-button span:hover {
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.profile-card {
	padding: 10px;
	background-color: #433;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

.card {
	padding: 10px;
	background-color: #445;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

.mute-card {
	padding: 10px;
	background-color: #223;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

.event-card {
	padding: 10px;
	background-color: #334;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}

.series-card {
	padding: 10px;
	background-color: #223;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2);
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,.2); 
	min-height: 130px;
}
.event-date {
	font-weight: 900;
	font-size: 17px;
}

.event-list, .list {
	list-style-type:none;
	margin:.5em;
	padding-left: 0px;
}

.label-tag {
 	background-color: #000000;
}

.label-related{
	background-color: #ffffff;
}

.card-thumb {
	border-radius: 5px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.small-gutter > [class*='col-'] {
    padding-right:10px;
    padding-left:10px;
}

li.selected {
    color: #ffffff;
    background-color: #df691a;
    border-color: #df691a;
    padding: 5px;
    padding-left:10px;
}

li.selected a {
	color: #fff;
	font-weight: bold;
}

li.selected:hover {
    color: #ffffff;
    background-color: #b15315;
    border-color: #b15315;
}

.item-title {
	font-weight: 600;
}

.post-body {
	padding: 10px;
	padding-bottom: 50px;
}