$border-radius:               .25rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .3rem;
$border-radius-pill:          50rem;
$bs-pagination-bg:  false;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
// disable superhero - when removed, mostly back to a white layout
@import "~bootswatch/dist/superhero/variables";
// @import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";

// if this is included, it supercedes the dark theme
// @import "~bootswatch/dist/flatly/bootswatch";

// Dropzone
@import "~dropzone/dist/dropzone.css";

// // Lightbox2
// @import "~lightbox2/dist/css/lightbox.min.css";